* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
li {
    list-style: none;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
/* layout */
#header {
}
#slider {
}
#textType1 {
}
#textType2 {
}
#footer {
}
/* header */
.header__inner {
    margin-top: 50px;
    margin-bottom: 7px;
    overflow: hidden;
}
.logo {
    float: left;
}
.logo img {
    width: 100px;
    height: 30px;
}
#header ul {
    margin-top: 10px;
    float: right;
}
#header ul li {
    display: inline;
    padding-right: 35px;
}
#header ul li:nth-child(1){
}
#header ul li:nth-child(2){
}#header ul li:nth-child(3){
}#header ul li:nth-child(4){
    margin-right: 70px;
}
/* slider */
.sliderImg img {
 width: 100%;
}
.text1__header {
    overflow: hidden;
}
.text1__header > h2 {
    float: left;
    width: 95%;
    text-align: center;
    font-size: 28px;
    margin: 25px 0;
    position: relative;
}
.plus {
    border: 1px solid #000;
    padding: 5px 8px;
    position: absolute;
    right: 660px;
    top: 615px;
}
.text1__header > div {
    float: right;
    width: 10%;
}
#cardType {
    background-color: rgb(207, 243, 255);
}
.cardInner {
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 20px;
    background-color: rgb(204, 223, 243);
}
.cardInner .text1__box1 {
    width: 24%;
    float: left;
    margin-right: 1%;
    border: solid 1px #dedede;
    padding: 25px;
    line-height: 2;
}
.cardInner .text1__box2 {
    width: 24%;
    float: left;
    margin-right: 1%;
    border: solid 1px #dedede;
    padding: 25px;
    line-height: 2;
}
.cardInner .text1__box3 {
    width: 24%;
    float: left;
    margin-right: 1%;
    border: solid 1px #dedede;
    padding: 25px;
    line-height: 2;
}
.cardInner .text1__box4 {
    width: 24%;
    float: left;
    margin-right: 1%;
    border: solid 1px #dedede;
    padding: 25px;
    line-height: 2;
}
.text1__box1 > span {
}
.ddd {
    border: solid 1px rgb(91, 161, 227);
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(91, 161, 227);
}
.text1__box1__head {
    font-size: 20px;
}
.saup {
    background-color: rgb(91, 161, 227);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.dd {
    background-color: rgb(91, 161, 227);
    color: #fff;
    padding: 5px;
    border-radius: 5px
}
.text__inner2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.textT__1 {
    width: 30%;
    border: 1px solid #dedede;
    padding: 20px;
}
.textT__2 {
    width: 60%;
    border: 1px solid #dedede;
    padding: 20px;
}
.textT__dd {
    display: flex;
}
.textT__1_header {
    display: flex;
    font-size: 18px;
}
.bodo {
    font-size: 18px;
    padding-right: 10px;
}
.unlone {
    font-size: 18px;
    color: #999;
    border-left: 1px solid #000;
    padding-left: 10px;
}
.plus2 {
    border: 1px solid #000;
    margin-left: 140px;
    padding: 0 3px; 
}
.fafafafa {
    margin-top: 30px;
    margin-bottom: 20px;
}
.datee {
    color: #666;
}
.ededede {
    display: flex;
}
.ededede > h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.plus3 {
    border: 1px solid #000;
    display: flex;
    margin-left: 520px;
    padding: 0 3px; 
}
.king {
    display: flex;
    line-height: 2;
}
.text2_right1 {
    width: 16%;
    margin-right: 10px;
}
.text2_right2 {
    width: 60%;
    line-height: 3;
}
.text2_right3 {
    width: 20%;
    line-height: 3;
}
.youngu {
    padding: 0 5px;
    text-align: center;
    background-color: rgb(22, 122, 209);
    margin-top: 10px;
}
.textType2Img img {
    width: 370px;
    height: 200px;
    margin-left: -20px;
    margin-top: -20px;
}
.king2 {
    display: flex;
}
.ban1 {
    width: 50%;
    border-right: 1px solid #dedede;
}
.ban2 {
    width: 50%;
    padding-left: 30px;
}
.headd h3 {
    font-size: 20px;
    margin-bottom: 40px;
}
.plus4 {
    position: absolute;

}
.dattt {
    color: #999;
    margin-bottom: 20px;
}
#footer {
    position: relative;
}
.footer1 {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 25px 0px;
}
.footer1> div :nth-child(1){
    border-right: #000 solid 1px;
}
.footer1 > div:nth-child(2){
    border-right: #000 solid 1px;
    padding-right: 15px;
}
.footer1 > div:nth-child(3){
    border-right: #000 solid 1px;
    padding-right: 15px;
}
.footer1 > div:nth-child(4){
    border-right: #000 solid 1px;
    padding-right: 15px;
}
.footer1 > div:nth-child(5){
    border-right: #000 solid 1px;
    padding-right: 15px;
}
.footer2 {
    float: right;
    width: 30%;
}
.goop {
    border: 1px solid #000;
    padding: 3px 20px 3px 3px;
    position: absolute;
    top: 0;
    right: 20px;
}
.footer__logo {
    
}
.footer__logo img {
    width: 130px;
    height: 60px;
}
.footer2-1 {
    display: flex;
    width: 65%;
}
.footer2-2 {
    width: 30%;

}

