/* reset */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* layout */
#wrap {
    width: 960px;
    margin: 0 auto;
  
}
/* header */
#header {
    width: 960px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
#header .logo {
    float: left;
    padding: 20px;
}
#header .nav {
    float: right;
}
#header .nav li {
    display: inline;
}
#header .nav li a {
    display: inline-block;
    padding: 30px;
    color: #222328;
    font-size: 18px;
}
.logo1 img{
    width: 70px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;

}
/* section */

/* slider */
#slider {
    
}
.slider1 img{
    width: 960px;
    height: 300px;
    margin-bottom: 20px;
}
/* text */
.text {
    overflow: hidden;
}
.text1 {
    width: 48%;
    height: 300px;
    float: left;
}
.text2 {
    width: 48%;
    height: 300px;
    float: left;

}
.text__head {
}
.notice {
    float: left;
}

.news {
    display: inline;
    width: 100%;
    white-space: normal;
}
.news:nth-child(1) {
    border-right: solid 1px #000;
    padding-right: 20px;
}
.more_big {
    float: right;
}
.m {
    display: inline;
}
.more {
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.cont {
    overflow: hidden;

}
.dd1 {
    float: left;
    padding: 5px;
}
.dd2 {
    float: right;
    padding:5px
}
/* footer */
.big {
    display: flex;
    justify-content: space-between;
}
.small {
    width: 220px;
    height: 220px;
    background: url(image)
}
