/* reset */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #333;
    text-decoration: none;
}
.clearfix::before, .clearfix::after {
    display: block;
    content: '';
    clear: both;
}
/* layout */
#wrap {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
}
#header {
    height: 100px;
}

/* header */
#header h1{
    float: left;
    padding-top: 5px;
}
#header h1 img{
    width: 130px;
}
#header .nav {
    float: right;
}
#header .nav ul{}
#header .nav li{
    float: left;
    
}
#header .nav li a {
    display: block; padding: 30px 15px;
}

#banner {}
#banner img {
    width: 100%;
}
#content1 {
    margin-top: 15px;
}
#content1 .notice {
    float: left;
    width: 49%;
    background: #ccc;
    margin-right: 2%;
    height: 200px;
}
#content1 .ad {
    float: left;
    width: 49%;
    background: #444;
    margin-right: 0;
}
#content1 .ad img {
    width: 100%;
    display: block;
}
#content2 {}
#footer {}