.banner__inner {
    background-image: url(../img/banner_bg01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 120px 0;
    color: #fff;
    height: 518px;
}
.banner__inner .title {
    font-size: 50px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 40px;
}
.banner__inner .desc {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 550;
    margin-bottom: 70px;
}
.banner__inner .desc a{
    color: #fff;
    display: block;
}
.banner__inner .desc a:hover{
    text-decoration: underline;
}
.banner__inner .small {
    font-size: 16px;
    text-decoration: underline;
}
/* 블라인드 효과 */
.blind{
    position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    overflow:hidden;
}